/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------for brayzer--------------*/


.left_head{
  text-align: center;
  background: #B22222;
  left:20px;
    height: 65px
     border: 4px double black;
  float: left;
  overflow: hidden;
}
.head
{
  text-align: center;background: 	#B22222;
  height: 165px
   border: 4px double black;
   overflow: hidden;
}
.left_menu{

  float: left;
  overflow: hidden;
}
.content{
   
      overflow: hidden;
}
.footer{
border: 4px double black;
background: #B22222;
    overflow: hidden;
    position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}
.head ul li{
  float: left;
}
.head ul{
  align :center;
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:0px; /*делаем отступ сверху*/
  height: 100px;
}
.head ul li a{
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:	#FFDAB9; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px;
}
.head ul li a:hover {
background:black;/*добавляем эффект при наведении*/
}
.head h1 {
  font-size: 40px;
  text-align: center;
  color:		#FFDAB9;
font-family: Palatino Linotype;
}
.left_head #im{
display: block;
align-items: flex-end;
width: 250px ;
  height: 370px ;
}
.left_head h4{
text-align: center;
}
.main #p2 {

  font-family: cursive;
  text-align: justify;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 60px;
   
    line-height: 1.5;

}
.main #p1{
	
	
   text-indent: 28.5em;
  font-family: cursive;
  text-align: justify;
  padding-left: 5px;
  padding-top: 30px;
}
.main #p3{
   text-indent: 50.5em;
  font-family: cursive;
  padding-top: 30px;
}
.bio p{
  font-family: cursive;
  padding-top: 30px;
	 line-height: 1.5;
    padding-left: 260px;
    padding-right: 20px;
}
.bio #p11{
  font-family: cursive;
  padding-top: 0px;
    padding-left: 260px;
    padding-right: 20px;
}
.bio #cardio{
  width: 1080px ;
    height: 270px ;
}
.logo form{

}
.bio #imv{ line-height: 1px;}
.gall img{
	padding-top: 35px;
	padding-left:80px;
	line-height: 1px;
	width: 120px;
	height: 150px;
}
.gall hr{
	background:  #B22222;
}
.left_menu ul{
	padding-top: 50px;
	padding-left: 20px;
}
.left_menu ul li a{
font-size: 20px;

	padding-left: 30px;
 line-height: 51px;


background: #B22222; /* Цвет фона */
color: black;

    text-align: justify;
}
.logo {
	float:left;
}
.logo label{
	float: left;
}
.pg{
padding-top: 80px;

}
.name{
float: left;
position: absolute;
padding-left: 340px;


}
.year{

	position: absolute;
	padding-left: 700px;
	float: left;


}
.copy{
	float: left;
	position: absolute;
	padding-left: 900px;

}
.h{
	padding-top: 20px;

}
.hname{
	float: left;
	position: absolute;
	padding-top: 10px;
	padding-left: 340px;
}
.hyear{

	position: absolute;
	padding-top: 10px;
	padding-left: 700px;
	float: left;
}
.logo h5{
	font-size: 20px;
	padding-left: 120px;
}
.logo label{
	padding-left: 20px;
	font-size: 15px;

}
.logo #l{
	padding-left: 31px;
	font-size: 15px;
}
.logo{
	padding-top: 60px;
	padding-left: 60px;
}
/*----------------image------------------*/
#gall {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}
#gall img {
  position: absolute;
  top: 25%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
#gall img:nth-child(4n-2) {left: 37.5%;}
#gall img:nth-child(4n-1) {left: 62.5%;}
#gall img:nth-child(4n) {left: 87.5%;}
#gall img:nth-child(n+5) {top: 75%;}
#gall img:nth-child(6) {left: 40%;top:76%;}
#gall img:nth-child(8) {left: 50%;top:76%;}
#gall img:nth-child(10) {left: 60%;top:76%;}


#gall img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 80%;
  max-height: 80%;
  outline: none;
  pointer-events: none;
}
#gall img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: zoom-out;
}
#gall img{
	border-color: #B22222;
}



.news ul li{position: absolute;
	padding-top: 20px;
	font-size: 25px;

}
